:root{ /** Para guardar valores que vayamos a utilizar mas adelante, si quisieramos cambiar algo, solo modificamos aqui y no en cada parte del proyecto**/
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html { /** ESTO NO DEBE FALTAR EN NINGUN PROYECTO QUE HAGAS **/
    box-sizing: border-box;
    font-size: 62.5%; /** Esto es parte de lo que nos permite agregar que 1rem sea igual a 10px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body{
    background-color: var(--primario);
    font-size: 1.6rem; /** Es decir: 16px                                  (IMPORTANTE: 1REM = 1OPX)**/
    line-height: 1.5; /** Un interlineado a todo el proyecto **/
}

p{ /**Seleccionamos a todo los parrafos, para que todos se vean igual**/
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{ /** Igual que a los parrafos, tambien les daremos a los enlaces**/
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem; /** Lo que todo el contenido (de los cuadrados de las imagenes) va a abarcar**/
    margin: 0 auto; /** Para centrarlo, si el contenedor padre no tiene flexbox **/
}

h1, h2, h3{ /** Le damos estilos a los headings**/
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/** Header **/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/** Footer **/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;

}

.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
    

}

/** Navegacion **/
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem /**(No soportado en varios navegadores por el momento);  Para la separacion de los enlaces, la otra forma seria margin-right: 2rem, pero esta forma es mas sencilla**/
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;

}


/**
.navegacion__enlace:last-of-type{ /** last-of-type, como tenemos varios "a", este selecciona el ultimo, y es preciso para nuestro proyecto, porque queremos quitar el margin-right de ultimo elemento

    margin-right: 0;

}
**/

.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--secundario);
}

/** Grid **/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
    /**
    el primero es para separar columnas, y el segundo es para separar filas, pero la forma mas corta es la que esta arriba, solo con "gap: 2rem", separa columnas y filas
    column-gap: 2rem;
    row-gap: 2rem;**/ 
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);  

    }
    
}
/** Productos **/
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;

}

.producto__nombre{
    font-size: 4rem;

}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);

}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos **/
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat; /** Las imagenes por defecto se repiten, con esto, no**/
    background-size: cover; /** al darle no repeat, se corta la iamgen, y para que ocupe todo el espacio posible, se pone cover**/
    grid-column: 1 / 3;

}

.grafico--camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    
    }
    
    
}

/** Sobre Nosotros**/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);

}
@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem; /** separacion entre las 2 columnas**/
    }
    
    
}

.nosotros__imagen{
    grid-row: 1 / 2;

}
@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
    
}

/** Bloques **/
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }

    
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

/** Pagina del Producto **/

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;


}

.formulario__campo{
    /**
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;**/

    border: 1rem solid var(--primarioOscuro); /** esto que esta aca es igual, a lo de arriba, solo que mas acortado, primero el ancho, segundo el tipo de border y tercero el tipo de color**/
    background-color: var(--primario); /** Le quitamos el color de fondo  que por defecto viene blanco, o tambien se puede poner "transparent" y va a utilizar el color del body **/
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem; /** para ser mas grande nuestro input**/
    appearance: none; /** si queremos quitarle la flecha del select**/
}


.formulario__submit{
    background-color: var(--secundario);
    border: none; /** para quitar el borde, todos lo tienen**/
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease; /** para dar trasicion, primero a que propiedad queremos darle, segundo, el tiempo, tercero, que tipo**/
    grid-column: 1 / 3;
}

.formulario__submit:hover{ /** Cuando se le da estilos a un submit, pierde la mano que aparece cuando te desplazas sobre el, asi que aqui lo colocamos**/
    cursor: pointer;
    background-color: var(--secundarioOscuro);

}

























